/*Aqui ficará o estilodo meu site*/

body{
   background-color:#c2d6d6;
   width: 80%;
   margin-right: auto;
   margin-left: auto;
}

h1{
  color:#006666;
  text-align:center;
}

h2{ 
  color:#009999;
  text-align 
}   

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
