/*Aqui ficará o estilodo meu site*/

body{
   background-image: url("../img/paisagem.jpg");
   width: 80%;
   margin-right: auto;
   margin-left: auto;
}

h1{
  color: #33ffff;
  text-align:center;
}

h2{ 
  color: #33ffff;
  text-align 
}   

p{
  color:#fff

}

ul{
  color:#fff

}

ul li{
  color:#fff

}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

img{

	width: 60%;
}

table{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	color: #fff;
}

td,th{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 10px
}